@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.resume_details {
    width: 90%;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 0px darkgray;
}

.resume_details h4 {
    padding: 5px;
    color: rgb(39, 127, 227);
}

.resume_details p {
    padding: 5px;
}

.resume_details:hover {
    background-color: aliceblue;
}