
.resume_print {
    font-family: 'Cambria';
    text-decoration: none;
    width: 816px;
    height: 1056px;
    background-color: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* .resume_print h1 {
    text-align: center;
} */