@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.guide {
    width: auto;
    font-family: 'Lexend', sans-serif;
    margin: 30px;
}

.guide h2 {
    text-align: center;
}