@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.resumeBuilder {
    font-family: 'Lexend', sans-serif;
}

.resumeBuilder h2 {
    text-align: center;
    padding: 15px;
    margin: 0;

}